<ul>
    <li>
        <a class="link-success" href="https://bugs.koha-community.org/bugzilla3/buglist.cgi?bug_status=Needs%20Signoff&columnlist=product%2Ccomponent%2Cassigned_to%2Cbug_status%2Cshort_desc%2Cchangeddate%2Cbug_severity&known_name=Needs%20Signoff&list_id=182511&query_based_on=Needs%20Signoff&query_format=advanced"> Needs Signoff</a>
         - <% IF status.${"Needs Signoff"} < 51 %><span class="badge text-bg-success"><% ELSIF status.${"Needs Signoff"} < 101 %><span class="badge text-bg-warning"><% ELSE %><span class="badge text-bg-danger"><% END %><% status.${"Needs Signoff"} %></span>
         <a class="badge_link" href="https://bugs.koha-community.org/bugzilla3/buglist.cgi?bug_severity=blocker&bug_severity=critical&bug_severity=major&bug_severity=normal&bug_severity=minor&bug_severity=trivial&bug_status=Needs%20Signoff&columnlist=product%2Ccomponent%2Cassigned_to%2Cbug_status%2Cshort_desc%2Cchangeddate%2Cbug_severity&known_name=Needs%20Signoff%20[bugs]&list_id=182515&query_based_on=Needs%20Signoff%20[bugs]&query_format=advanced">
         <% IF bugssign.${"Needs Signoff"} < 26 %><span class="badge text-bg-success"><% ELSIF bugssign.${"Needs Signoff"} < 51 %><span class="badge text-bg-warning"><% ELSE %><span class="badge text-bg-danger"><% END %><% bugssign.${"Needs Signoff"} %> bugs</span>
         </a>
    </li>

    <li>
        <a class="link-success" href="https://bugs.koha-community.org/bugzilla3/buglist.cgi?bug_status=Signed%20Off&known_name=Signed%20Off&list_id=182496&query_based_on=Signed%20Off&query_format=advanced">Signed Off</a>
        - <% IF status.${"Signed Off"} < 41 %><span class="badge text-bg-success"><% ELSIF status.${"Signed Off"} < 81 %><span class="badge text-bg-warning"><% ELSE %><span class="badge text-bg-danger"><% END %><% status.${"Signed Off"} %></span>
        <a class="badge_link" href="https://bugs.koha-community.org/bugzilla3/buglist.cgi?bug_severity=blocker&bug_severity=critical&bug_severity=major&bug_severity=normal&bug_severity=minor&bug_severity=trivial&bug_status=Signed%20Off&f1=bug_severity&f2=bug_severity&known_name=Signed%20Off%20[bugs]&list_id=182497&query_based_on=Signed%20Off%20[bugs]&query_format=advanced">
        <% IF bugssign.${"Signed Off"} < 31 %><span class="badge text-bg-success"><% ELSIF bugssign.${"Signed Off"} < 61 %><span class="badge text-bg-warning"><% ELSE %><span class="badge text-bg-danger"><% END %><% bugssign.${"Signed Off"} %> bugs </span>
        </a>
    </li>

    <li>
        <a class="link-success" href="https://bugs.koha-community.org/bugzilla3/buglist.cgi?bug_status=Passed%20QA&known_name=Passed%20QA&list_id=182471&query_based_on=Passed%20QA&query_format=advanced">Passed QA</a>
        - <% IF status.${"Passed QA"} < 26 %><span class="badge text-bg-success"><% ELSIF status.${"Passed QA"} < 51 %><span class="badge text-bg-warning"><% ELSE %><span class="badge text-bg-danger"><% END %><% status.${"Passed QA"} %></span>
        <a class="badge_link" href="https://bugs.koha-community.org/bugzilla3/buglist.cgi?bug_severity=blocker&bug_severity=critical&bug_severity=major&bug_severity=normal&bug_severity=minor&bug_severity=trivial&bug_status=Passed%20QA&known_name=Passed%20QA%20[bugs]&list_id=182493&query_based_on=Passed%20QA%20[bugs]&query_format=advanced">
        <% IF bugssign.${"Passed QA"} < 11 %><span class="badge text-bg-success"><% ELSIF bugssign.${"Passed QA"} < 26 %><span class="badge text-bg-warning"><% ELSE %><span class="badge text-bg-danger"><% END %><% bugssign.${"Passed QA"} %> bugs </span>
        </a>
    </li>

    <li>
        <a class="link-success" href="https://bugs.koha-community.org/bugzilla3/buglist.cgi?bug_status=Needs%20documenting&columnlist=product%2Ccomponent%2Cassigned_to%2Cbug_status%2Cshort_desc%2Cchangeddate%2Cbug_severity&known_name=Needs%20documenting&list_id=182511&query_based_on=Needs%20documenting&query_format=advanced"> Needs Documenting</a>
        - <% IF status.${"Needs documenting"} < 51 %><span class="badge text-bg-success"><% ELSE %><span class="badge text-bg-danger"><% END %><% status.${"Needs documenting"} %></span>
    </li>

    <li>
        <a class="link-success" href="https://bugs.koha-community.org/bugzilla3/buglist.cgi?bug_status=Failed%20QA&columnlist=bug_severity%2Cversion%2Cpriority%2Cassigned_to%2Cbug_status%2Cresolution%2Cshort_desc%2Ccf_patch_status%2Ccomponent&known_name=Failed%20QA&list_id=182521&order=bug_severity%2Cbug_status%2Cpriority%2Cassigned_to%2Cbug_id&query_based_on=Failed%20QA&query_format=advanced">Failed QA</a>
        - <span class="badge text-bg-warning"><% status.${"Failed QA"} %></span>
    </li>

    <li>
        <a class="link-success" href="https://bugs.koha-community.org/bugzilla3/buglist.cgi?bug_status=Patch%20doesn%27t%20apply&known_name=Does%20not%20apply&list_id=182522&query_based_on=Does%20not%20apply&query_format=advanced">Patch Doesn't apply</a>
        - <span class="badge text-bg-warning"><% status.${"Patch doesn't apply"} %></span>
    </li>

    <li>
        <a class="link-success" href="https://bugs.koha-community.org/bugzilla3/buglist.cgi?cmdtype=dorem&list_id=274775&namedcmd=Addtional&remaction=run&sharer_id=1">Needs Additional Work</a>
        - <span class="badge text-bg-warning"><% status.${"Needs additional work"} %></span>
    </li>

    <li>
        <a class="link-success" href="https://bugs.koha-community.org/bugzilla3/buglist.cgi?bug_status=In%20Discussion&known_name=In%20discussion&list_id=182523&query_based_on=In%20discussion&query_format=advanced">In Discussion</a>
        - <span class="badge text-bg-warning"><% status.${"In Discussion"} %></span>
    </li>
</ul>
