@font-face {
    font-family:creepy;
    src: url('fonts/Creepy.ttf');
}


@font-face {
    font-family:blackwidow;
    src: url('fonts/BlackWidow.ttf');
}

@font-face {
    font-family:requiem;
    src: url('fonts/Requiem.ttf');
}

#example_4 ul li { 
  padding-bottom:10px;
  }

  #content {
  padding:15px 20px 15px 10px;
  }

  #jenkins {margin-left: 10px;}

.hero-unit {
/* IE10+ */ 
background-image: -ms-linear-gradient(top left, #E86B0C 0%, #000000 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #E86B0C 0%, #000000 100%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #E86B0C 0%, #000000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #E86B0C), color-stop(100, #000000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #E86B0C 0%, #000000 100%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom right, #E86B0C 0%, #000000 100%);
-webkit-border-top-left-radius: 25px;
-webkit-border-bottom-right-radius: 25px;
-moz-border-radius-topleft: 25px;
-moz-border-radius-bottomright: 25px;
border-top-left-radius: 25px;
border-bottom-right-radius: 25px;
border-radius 25px 0px 0px 25px;
} 

a {
    color:#D26001;
    text-decoration: none;
}

a:hover,
a:visited {
  color:#000000;
  text-decoration:none;
}

.hero-unit h1 {
    font-family:'creepy';
    color: white;
    font-size: 70px;
    font-weight:normal;
    
}

.span3 h3 {
    font-family: 'blackwidow';
    font-weight: bold; 
}

.span4 h3 {
    font-family: 'blackwidow';
    font-weight: bold; 
}

div#kudos table {
    font-size:14px;
}

.span8 h3 {
    font-family: 'blackwidow';
    font-weight: bold; 
}   

.navbar .nav li a:focus, .navbar .nav li a:hover {
          color: rgb(184, 184, 184);
          text-decoration: none;
          background-color: transparent;
          font-family:'requiem';
          
}

.navbar{
  font-family:'requiem';
}  

a#health_status {
    font-family:'requiem';
    
}
