/*import chirstmas fonts*/

@font-face {
    font-family:XmasStar;
    src:url('fonts/OneStarryNight.ttf');
}

@font-face {
    font-family:Chopin;
    src:url('fonts/ChopinScript.ttf');
}

@font-face {
    font-family:Snow;
    src:url('fonts/Snowdrift.ttf');
}

#example_4 ul li {
  padding-bottom:10px;
  }

#content {
  padding:15px 20px 15px 10px;
  }

#jenkins {
    margin-left: 10px;
}

.hero-unit {
background-image:url(../img/xmas/yellow-lights.jpg);
background-size:cover;
background-repeat: no-repeat;
-webkit-border-top-left-radius: 45px;
-webkit-border-bottom-right-radius: 45px;
-moz-border-radius-topleft: 45px;
-moz-border-radius-bottomright: 45px;
border-top-left-radius: 45px;
border-bottom-right-radius: 45px;
border-radius 45px 0px 0px 45px;
}


a {
    color:#FEB54C;
    text-decoration: none;
}

a:hover {
    color:#191970;
}

.hero-unit h1 {
    font-family:'XmasStar';
    color: white;
    margin-top: 8px;
    font-size:80px;
    font-weight:normal;

}

.span3 h3 {
    font-family:'Snow';
    font-weight: bold;
    color:#040057;
}

.span4 h3 {
    font-family:'Snow';
    font-weight: bold;
    color:#040057;
}

div#kudos table {
    font-size:14px;
}

.span8 h3 {
    font-family:'Snow';
    font-weight: bold;
}

.navbar, .navbar-inner {
background: rgb(4,4,4);
background: -moz-linear-gradient(149deg, rgba(4,4,4,1) 0%, rgba(35,51,74,1) 50%, rgba(254,255,241,1) 100%);
background: -webkit-linear-gradient(149deg, rgba(4,4,4,1) 0%, rgba(35,51,74,1) 50%, rgba(254,255,241,1) 100%);
background: linear-gradient(149deg, rgba(4,4,4,1) 0%, rgba(35,51,74,1) 50%, rgba(254,255,241,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#040404",endColorstr="#fefff1",GradientType=1);
font-size:25px;

}

#bz_status h2{
    font-family:'XmasStar'; 
    color:#FCA534;
    font-weight:normal;
    font-size:75px;
}


.navbar .nav > li > a:hover {
    color:#FEC34F;
}

.navbar .nav > li > a {
    font-family:'Chopin';
    font-size:25px;
    font-weight:normal;
}